.menu-container {
	background-color: #837ad8;
	color: white;
	width: 220px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 1.5rem 1rem;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
	transition: transform 0.3s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.menu-container.closed {
	transform: translateX(-100%);
}

.menu-container.open {
	transform: translateX(0);
}

.menu-logo {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.menu-logo-img {
	width: 120px !important;
	height: auto;
	object-fit: contain;
}

.menu-section {
	margin-bottom: 2rem;
}

.section-title {
	font-size: 0.7rem;
	font-weight: 500;
	color: #cfcfcf;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
}

.menu-section ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.menu-section li {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	padding: 0.5rem 0.8rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background 0.3s;
	font-size: 0.95rem;
}

.menu-section li:hover {
	background-color: #6b64c6;
}

.menu-item-link {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	text-decoration: none;
	color: white;
	width: 100%;
}

.menu-toggle-button {
	position: fixed;
	top: 1rem;
	left: 1rem;
	z-index: 1000;
	background-color: transparent;
	color: #cbcbe7;
	cursor: pointer;
	display: none;
}
.menu-close-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	color: #cbcbe7;
	font-size: 1.5rem;
	z-index: 1001;
}

@media screen and (max-width: 1024px) {
	.menu-toggle-button {
		display: block;
	}

	.menu-container {
		width: 220px;
		padding: 1.5rem 1rem;
	}
}

@media screen and (min-width: 1025px) {
	.menu-container {
		transform: translateX(0) !important;
		position: static;
	}
	.menu-toggle-button {
		display: none;
	}
}
